<mat-toolbar>
  <span>Humans Vs. Zombies</span>
  <span class="toolbar-spacer"></span>
  <span class="toolbar-username" *ngIf="isAuthenticated">{{username}} <span *ngIf="role">🛡️ (Admin)</span></span>
  <mat-icon class="toolbar-user-icon" *ngIf="isAuthenticated">account_circle</mat-icon>
  <app-auth-button></app-auth-button>
</mat-toolbar>


<div class="container">

  <div class="area-description">
    <h1 class="welcome-text">Welcome to the Human vs. Zombies game lobby.<br />
      <span *ngIf="!isAuthenticated">Create an account to join in on the fun.</span>
      <span *ngIf="isAuthenticated">Pick a game below to start.</span>
    </h1>
    <img class="logo-zombie-mascot" src="assets/images/zombie.png" alt="Zombie Mascot" style="width: 10rem;" />
  </div>
  <app-game-list #gameList></app-game-list>
  <!-- Button for creating a new game (admin only) -->
  <button *ngIf="isAdmin" class="btn-new-game" mat-fab color="primary" (click)="openCreateGameDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
