.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.toolbar-spacer {
  flex: 1;
}

.area-description {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.game-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 10px 0;
  padding: 4px;
}

.game-details .players {
  margin-left: auto;
}

.game-details .status {
  margin-left: 1em;
}

.dot {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
}

.dot.green {
  background-color: lawngreen;
}

.dot.orange {
  background-color: orange;
}

.dot.red {
  background-color: red;
}

.game-card {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.game-card:hover {
  cursor: pointer;
  opacity: 0.9;
}

.btn-new-game {
  float: right;
}

.toolbar-user-icon {
  margin-right: 10px;
}

.toolbar-username {
  margin-right: 10px;
  font-size: 1rem;
}

.game-list-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 4px;
}

.welcome-text {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
