<h2>Game Details:</h2>
<p><span class="fieldName">Game Name</span>: <span>{{game.name}}</span></p>
<p><span class="fieldName">Game State</span>: <span>{{game.gameState}}</span></p>
<p><span class="fieldName">Number of Players</span>: <span>{{game.numberOfPlayers}}</span></p>
<p><span class="fieldName">Publish Date</span>: <span>{{game.published | date: 'medium' }}</span></p>
<p><span class="fieldName">Custom Rules</span>: <span>{{game.description}}</span></p>

<h3><span class="fieldName">Base rules for Humans vs. Zombies:</span></h3>
<p>Humans vs. Zombies is a game of tag. All players begin as humans, and one is randomly chosen to be the “Original Zombie.” The Original Zombie must find and tag(bite) human players and turns them into zombies.</p>
