<h1 mat-dialog-title>Delete game '{{gameListItem.name}}'</h1>
<div mat-dialog-content>
  <p>Are you sure you want to delete this game?</p>
  <p>This action cannot be undone.</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()" [disabled]="isProcessingRequest">No</button>
  <button mat-button color="warn" (click)="confirmDelete()" [disabled]="isProcessingRequest">Yes</button>
</div>
