/* .map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  } */

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

  .myDivIcon {
    text-align: center;
    /* Horizontally center the text (icon) */
    line-height: 20px;
    /* Vertically center the text (icon) */
  }

.map-zombie {
  filter: hue-rotate(90deg);
}
