/* Give the body a nice pleasing background color */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.toolbar-spacer {
  flex: 1;
}

.area-description {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.game-card-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 10px 0;
  padding: 4px;
}

.game-card-details .players {
  margin-left: auto;
}

.game-card-details .status {
  margin-right: 0.5rem;
}

.game-card-details .statusText {
  font-weight: bold;
}

h4.game-card-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 4px;
}

.dot {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
}

.dot.green {
  background-color: lawngreen;
}

.dot.orange {
  background-color: orange;
}

.dot.red {
  background-color: red;
}

.game-card {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: opacity 0.5s;
}

.game-card:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.5s;
}

.games {
  list-style: none;
  padding-left: 0;
}

.loading-center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-li {
  position: relative;
}

.game-card-edit {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
}

.game-card-edit button {
  transition: background-color 0.1s;
  margin: 4px;
}

.empty-info {
  color: gray;
  text-align: center;
  font-size: 1rem;
}

.game-card-edit button:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  transition: background-color 0.1s;
}

