<div class="loading-center-container" *ngIf="isLoading; else loaded">
  <mat-spinner></mat-spinner>
</div>
<ng-template #loaded>
  <div class="game-list-area">
  <p *ngIf="loaded && gameList.length === 0" class="empty-info">There are currently no games available. Please wait for an admin to create one.</p>
  <ul class="games">
    <li *ngFor="let game of gameList" class="game-li">
      <mat-card class="game-card" (click)="navigateToGame(game.id)">
        <mat-card-header>
          <mat-card-title>
            <h4 class="game-card-title">{{ game.name }}</h4>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="game-card-details">
            <span class="status">
              <ng-container [ngSwitch]="game.gameState">
                <div *ngSwitchCase="enumGameState.REGISTRATION" class="green dot" title="Waiting for Players"></div>
                <div *ngSwitchCase="enumGameState.IN_PROGRESS" class="orange dot" title="In Progress"></div>
                <div *ngSwitchCase="enumGameState.COMPLETED" class="red dot" title="Ended"></div>
              </ng-container>
            </span>
            <ng-container [ngSwitch]="game.gameState">
              <span *ngSwitchCase="enumGameState.REGISTRATION" class="statusText">Waiting for Players</span>
              <span *ngSwitchCase="enumGameState.IN_PROGRESS" class="statusText">In Progress</span>
              <span *ngSwitchCase="enumGameState.COMPLETED" class="statusText">Ended</span>
            </ng-container>
            <span class="players">Players: {{ game.numberOfPlayers }}</span>
          </div>
        </mat-card-content>
      </mat-card>
      <div *ngIf="isAdmin" class="game-card-edit">
        <button mat-mini-fab class="btn-edit-game" mat-fab color="primary" (click)="openEditGameDialog(game.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab class="btn-delete-game" mat-fab color="primary" (click)="deleteGame(game)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </li>
  </ul>
  </div>
</ng-template>
