  <div class="spinner"><mat-spinner *ngIf="!hasLoadedGame"></mat-spinner></div>

  <app-leaflet-map *ngIf="hasLoadedGame && gameDetails"
                   [isAdmin]="isAdmin"
                   [isHuman]="currentPlayer?.isHuman ?? true || isAdmin"
                   [gameDetails]="gameDetails"
                   [fullscreen]="true"
                   (missionCreated)="handleMissionCreated($event)">
  </app-leaflet-map>

  <mat-toolbar class="fixed-bottom">
    <button *ngIf="hasLoadedGame && (hasJoinedGame || isAdmin)" mat-button (click)="toggleShowChat()">
      <mat-icon>chat</mat-icon>
      Chat
    </button>
    <button mat-button (click)="toggleMap()">
      <mat-icon>map</mat-icon>
      Map
    </button>
    <button *ngIf="hasLoadedGame && hasJoinedGame && currentPlayer?.isHuman" mat-button (click)="toggleShowSquad()">
      <mat-icon>group</mat-icon>
      Squad
    </button>
    <button *ngIf="hasLoadedGame && isAdmin" mat-button (click)="toggleShowPlayers()">
      <mat-icon>people_outline</mat-icon>
      Players
    </button>
  </mat-toolbar>

  <div *ngIf="hasLoadedGame && isChatShown" class="chat-tab">
    <app-chat-tab [gameId]="gameId!" [messages]="chatMessages" (loadMessages)="loadChatMessages()"></app-chat-tab>
  </div>
  <div *ngIf="hasLoadedGame && isSquadShown" class="squad-tab">
    <app-squad-tab [gameId]="gameId!"
                   [currentSquad]="currentSquad"
                   (loadCurrentSquad)="loadCurrentSquad()"
                   (clearCheckinMarkers)="clearCheckinList()"
                   (createNewCheckin)="createNewCheckin()">
    </app-squad-tab>
  </div>

  <div *ngIf="hasLoadedGame && isPlayersShown" class="squad-tab">
    <app-player-tab [gameId]="gameId" (loadPlayers)="loadPlayerList()" [playerList]="playerList"></app-player-tab>
  </div>

  <button *ngIf="hasLoadedGame" (click)="openInfoDialog()" class="btn-info" color="primary" mat-mini-fab><mat-icon>help_outline</mat-icon></button>

  <button *ngIf="hasLoadedGame && !isAdmin && currentPlayer && hasJoinedGame" class="btn-bite-code" mat-fab color="primary" (click)="openBiteCodeDialog()">
    <img style="width: 30px; height: 30px;" src="/assets/images/teeth.png" alt="">
  </button>

  <div *ngIf="hasLoadedGame && !isAdmin && !hasJoinedGame" class="floating-container">
    <button (click)="joinGame()" mat-raised-button color="primary" class="btn-join-game" style="z-index: 401;" [disabled]="gameDetails && gameDetails.gameState !== enumGameState.REGISTRATION">
      Join Game
    </button>
  </div>

