.fixed-bottom {
  position: absolute;
  bottom: 0;
  z-index: 401;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-container {
  width: 100%;
  position: absolute;
  bottom: 220px;
  z-index: 401;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-bottom>button {
  margin: 0 20px;
}

.squad-tab{
  position: absolute;
  bottom: 64px;
  right:0;
  z-index: 402;
  background-color: #212121;
}

.chat-tab{
  position: absolute;
  bottom: 64px;
  z-index: 402;
  background-color: #212121;
}

.btn-bite-code {
  position: absolute;
  bottom: 80px;
  right: 20px;
  z-index: 401;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-info {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 402;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-join-game:disabled {
  background: #9e9e9e;
  color: white;
  text-decoration: line-through;
  opacity: 0.8;
}

.spinner {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

@media only screen and (max-width: 600px) {
  .squad-tab{
    bottom: 56px;
  }
  .chat-tab{
    bottom: 56px;
  }
}