<h2 mat-dialog-title>New Squad</h2>

<mat-dialog-content [formGroup]="formGroup">

  <p>
    <mat-form-field>
      <input matInput
             placeholder="A name for your squad"
             formControlName="name"
             required>
    </mat-form-field>
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="btn-cancel mat-raised-button" (click)="cancel()" [disabled]="isProcessingRequest">Cancel</button>
  <button class="btn-create mat-raised-button mat-primary" (click)="create()" [disabled]="!(formGroup.valid) || (isProcessingRequest)">
    <ng-container *ngIf="!isProcessingRequest">Create</ng-container>
    <mat-spinner [diameter]="30" [strokeWidth]="4" *ngIf="isProcessingRequest"></mat-spinner>
  </button>
</mat-dialog-actions>
