<mat-tab-group class="chat-tab">
    <mat-tab label="Faction">
      <div class="chat-area">
        <div class="message-input">
          <mat-form-field class="mat-form-field" appearance="legacy">
          <input matInput #inputFactionChat [(ngModel)]="messageBody" (keyup.enter)="sendFactionMessage()" type="text" style="color:white ;" placeholder="Type your message here.">
        </mat-form-field>
          <!--material button for sending chat-->
          <button class="message-input-send" mat-icon-button color="primary" (click)="sendFactionMessage()" [disabled]="isLoading">
            <mat-icon>send</mat-icon>
          </button>
        </div>

        <div class="scrollbar" id="style-1">
          <ul *ngIf="messages.length > 0">
            <li *ngFor="let messageInfo of messages" class="chat-message">
              <span class="chat-message-time" title="{{getDateString(messageInfo.timestamp.toString())}} {{getTimeString(messageInfo.timestamp.toString())}}">
                {{getTimeString(messageInfo.timestamp.toString())}}
              </span>
              <span class="chat-message-faction global" title="{{messageInfo.faction.charAt(0) + messageInfo.faction.substring(1).toLowerCase()}}">
                [{{messageInfo.faction.charAt(0).toUpperCase()}}]
              </span>
  
              <span *ngIf="messageInfo.isAdmin" class="chat-message-username admin">
                <span class="authority-indicator">[admin]</span>
                {{messageInfo.username}}
              </span>
              <span *ngIf="!messageInfo.isAdmin" class="chat-message-username">
                {{messageInfo.username}}
              </span>
              <span class="chat-message-delimiter">:</span>
              <span>
                {{messageInfo.message}}
              </span>
            </li>
          </ul>
          <div class="force-overflow"></div>
        </div>
        
      <span *ngIf="messages.length === 0" class="placeholder-empty">
        No messages yet. Be the first to chat!
      </span>
      </div>
    </mat-tab>

  <!--
    <mat-tab label="Squad">
      <ul>
        <li *ngFor="let messageInfo of squadMessages" class="chat-message">
          <span class="chat-message-time" title="{{messageInfo.timestamp}">
            {{messageInfo.timestamp}}
          </span>
          <span class="chat-message-username">
            {{messageInfo.username}}
          </span>
          <span class="chat-message-delimiter">:</span>
          <span>
            {{messageInfo.message}}
          </span>
        </li>
      </ul>
      <div class="message-input">
        <input type="text" placeholder="Send a message">
        <button class="message-input-send" mat-icon-button color="primary">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </mat-tab>
  -->

  </mat-tab-group>
