.chat-tab {
  max-height: 50vh;
  max-width: 400px;
}

li{
    color: aliceblue;
    padding: 0.2rem 0;
  }

ul{
    list-style: none;
    padding-inline-start: 1rem;
    margin-bottom:20px;
  }

.chat-message {
  padding-right: 1rem;
  overflow: hidden;
  word-wrap: break-word;
}

.chat-message-time {
  color: #9e9e9e;
  font-size: 0.8rem;
}

.chat-message-username {
  color: #00bcd4;
  font-weight: bold;
  margin-left: 0.25rem;
}

.chat-message-username.admin {
  color: #F44336;
  font-weight: bold;
  margin-left: 0.25rem;
}

/* Has a bright green color to indicate this is a global message */
.chat-message-faction.global {
  color: #4caf50;
  font-weight: bold;
  margin-left: 0.25rem;
}

.chat-message-faction.zombie {
  color: #4CAF50;
  font-weight: bold;
  margin-left: 0.25rem;
}

.chat-message-delimiter {
  margin-right: 0.25rem;
}

.message-input{
  padding-left: 1rem;
  z-index: 1000;
}

.mat-form-field{
  width:calc(100% - 40px);
}

.placeholder-empty {
  color: #9e9e9e;
  font-size: 0.8rem;
  padding-left: 1rem;
  display: block;
  padding-top: 1rem;
}

ul.chat-message-list {
  overflow-y: hidden;
}

.chat-area {
  display: flex;
  flex-direction: column-reverse;
}

.scrollbar {
	float: left;
	height: 300px;
	overflow-y: scroll;
}

#style-1::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
	background-color: #C2185B;
}

#style-1::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

@media only screen and (max-width: 600px) {
  .chat-tab {
    max-height: 50vh;
    width: 100vw !important;
    max-width: unset;
  }
}