<h2 mat-dialog-title>New Game</h2>

<mat-dialog-content [formGroup]="formGroup">

  <p>
  <mat-form-field>
    <input matInput
           placeholder="Name"
           formControlName="name"
           required>
  </mat-form-field>
  </p>
  <p>
  <mat-form-field>
    <input matInput
           placeholder="Custom Rules"
           formControlName="description"
           required>
  </mat-form-field>
  </p>
</mat-dialog-content>
<p>
  Please select the allowed area for the game:
  <app-leaflet-map [isAdmin]="isAdmin" [mapHeight]="'30rem'" (areaCreated)="handleAreaCreated($event)"></app-leaflet-map>
</p>

<mat-dialog-actions>
  <button class="btn-cancel mat-raised-button" (click)="cancel()" [disabled]="isProcessingRequest">Cancel</button>
  <button class="btn-create mat-raised-button mat-primary" (click)="create()" [disabled]="!(formGroup.valid) || (isProcessingRequest)">
    <ng-container *ngIf="!isProcessingRequest">Create</ng-container>
    <mat-spinner [diameter]="30" [strokeWidth]="4" *ngIf="isProcessingRequest"></mat-spinner>
  </button>
</mat-dialog-actions>
