mat-dialog-actions {
  display: flex;
  justify-content: right;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-create:disabled {
  background-color: #e0e0e0;
  color: #000;
  cursor: not-allowed;
}

/* Inherited from map-admin-initialize.css */
.map-container {
  width: 100%;
  height: 30rem;
}

@media only screen and (max-width: 600px) {



}