<ng-container *ngIf="isAuthenticated">
  <button mat-raised-button color="primary" (click)="logout()">Log out</button>
</ng-container>

<ng-container *ngIf="!isAuthenticated">
  <button mat-raised-button color="primary" (click)="login()">Log in</button>
</ng-container>
