.player-list {
    list-style: none;
    color: white;
}

.list-item {
    padding: 1rem;
    margin-right: 2rem;
}

.players-tabs {
    max-height: 50vh;
}

.list-item-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    margin-left: 1rem;
}

.text-empty-info {
  color: #9e9e9e;
  font-size: 0.8rem;
  padding: 1rem;
  display: block;
}

.scrollbar {
	height: 357px;
	overflow-y: scroll;
}

#style-1::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
	background-color: #C2185B;
}

#style-1::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

@media only screen and (max-width: 600px) {
    .players-tabs {
      max-height: 50vh;
      width: 100vw !important;
      max-width: unset;
    }
  }