<mat-tab-group class="players-tabs">
    <mat-tab label="Players">
      <p class="text-empty-info" *ngIf="playerList && playerList.length === 0">No players have joined yet.</p>
      <div class="scrollbar" id="style-1">
      <ul class="player-list">
        <li *ngFor="let player of playerList; let i = index">
          <div class="list-item">
            <p class="list-item-text">
              <span >{{i+1}}. {{player.username}}<span *ngIf="player.isHuman"> is still human</span><span *ngIf="!player.isHuman"> is a zombie</span></span>
              <span><button (click)="togglePlayerState(player.id)" color="primary" mat-mini-fab><img *ngIf="player.isHuman" style="width:24px; height: 24px;" src="/assets/images/teeth.png" alt=""><mat-icon *ngIf="!player.isHuman">vaccines</mat-icon></button>
              <button (click)="deletePlayer(player.id)" color="primary" mat-mini-fab><mat-icon>delete</mat-icon></button></span>
            </p>
          </div>
        </li>
      </ul>
    </div>
    </mat-tab>
  </mat-tab-group>
