<mat-tab-group class="squads-tab">
  <mat-tab label="Squads">
    <p class="placeholder-empty" *ngIf="squadList.length === 0">No squads have been formed yet.</p>
    <ul *ngIf="squadList && squadList.length > 0" class="squad-header">
      <li class="squad-column-fixed">Number</li>
      <li class="squad-column-fixed">Name</li>
      <li class="squad-column-fixed">Humans</li>
      <li *ngIf="!currentSquad" class="right-please">Join</li>
    </ul>
    <ul *ngFor="let squad of squadList" [ngClass]="currentSquad && currentSquad.id == squad.id ? 'squad-current' : 'squad-other'">
      <li class="squad-column-fixed">#{{squad.id}}</li>
      <li class="squad-column-fixed">{{squad.name}}</li>
      <li class="squad-column-fixed">{{(squad.numberOfMembers - squad.numberOfDeceased)}}/{{squad.numberOfMembers}}</li>
      <li *ngIf="!currentSquad" class="squad-column-fixed">
        <button mat-mini-fab color="primary" (click)="joinSquad(squad)">
          <mat-icon>login</mat-icon>
        </button>
      </li>
    </ul>

    <div class="squad-actions">
      <button *ngIf="!currentSquad" mat-raised-button color="primary" (click)="openCreateSquadDialog(gameId)">
        <mat-icon>group_add</mat-icon>
        Create Squad
      </button>
      <button *ngIf="currentSquad" mat-raised-button color="primary" (click)="onCheckIn()">
        <mat-icon> location_on</mat-icon>
        Check-in
      </button>
      <button *ngIf="currentSquad" class="right-please" mat-raised-button color="warn" (click)="onLeaveSquad()">
        <mat-icon>exit_to_app</mat-icon>
        Leave
      </button>
    </div>

  </mat-tab>
</mat-tab-group>
