li{
  color: aliceblue;
  display: inline-block;
  padding: 0.2rem 0.5rem;
}

ul{
  list-style: none;
  padding-inline-start: 1rem;
}

.message-input{
padding-left: 1rem;
}

.placeholder-empty {
  color: #9e9e9e;
  font-size: 0.8rem;
  padding-left: 1rem;
  display: block;
  padding-top: 1rem;
}

.right-please {
  float: right;
}

.squad-header {
  font-weight: bold;
  text-align: left;
}

.squad-current li {
  color: #4CAF50;
  font-weight: bold;
}

.squad-column-fixed {
  width: 64px;
}

.squad-actions {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
