@import '../node_modules/leaflet/dist/leaflet.css';
@import '../node_modules/leaflet-draw/dist/leaflet.draw.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-error {
  background: #F44336;
  color: white;
}

.snackbar-error button {
  color: white;
}

.snackbar-success {
  background: #4CAF50;
  color: white;
}

.snackbar-success button {
  color: white;
}

.leaflet-control-attribution {
  display: none !important;
}
