
 <div *ngIf="player.isHuman">
  <h3>Your Bite code: "{{ player.biteCode }}"</h3>
  <p>P.S. You must give this code to a zombie that manages to tag you.</p>
</div>

<form *ngIf="!player.isHuman" [formGroup]="biteForm" (ngSubmit)="onSubmit(biteForm)">
  <h3>Enter the humans bite code:</h3>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Bite code</mat-label>
      <input matInput name="biteCode"
        formControlName="biteCode"
        placeholder="e.g. 'e23a'">
    </mat-form-field>
  </p>

  <div *ngIf="biteForm.get('biteCode')?.invalid">
    <small *ngIf="biteForm.get('biteCode')?.hasError('required') && biteForm.get('biteCode')?.touched" class="text-danger">This input is required.</small>
    <small *ngIf="biteForm.get('biteCode')?.hasError('minlength')" class="text-danger">Code must be 4 digits.<br></small>
    <small *ngIf="biteForm.get('biteCode')?.hasError('maxlength')" class="text-danger">Code must be 4 digits<br></small>
    <small *ngIf="biteForm.get('biteCode')?.hasError('pattern')" class="text-danger">Lower case letters & numbers excluding "o" only.</small>
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="biteForm.invalid">Submit</button>
</form>
