<ng-container>
<h2 mat-dialog-title>Edit Game</h2>
<mat-dialog-content [formGroup]="formGroup">

  <p>
    <mat-form-field>
      <input matInput
             placeholder="Name"
             formControlName="name"
             required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput
             placeholder="Custom Rules"
             formControlName="description"
             required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <!-- Input for the gameState enum -->
      <mat-select placeholder="Game State"
                  formControlName="gameState"
                  [value]="game.gameState"
                  required>
        <mat-option *ngFor="let state of enumGameState | keyvalue" [value]="state.value">
          {{state.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="btn-cancel mat-raised-button" (click)="cancel()" [disabled]="isProcessingRequest">Cancel</button>
  <button class="btn-create mat-raised-button mat-primary" (click)="save()" [disabled]="!(formGroup.valid) || (isProcessingRequest)">
    <ng-container *ngIf="!isProcessingRequest">Save</ng-container>
    <mat-spinner [diameter]="30" [strokeWidth]="4" *ngIf="isProcessingRequest"></mat-spinner>
  </button>
</mat-dialog-actions>

</ng-container>
